.Section
  .Section-content
    .Section-title
      h1.Heading Secret Santa Confirmado!

    .Section-text
      p #{@user.name}, acabaste de te tornar num Secret Santa!
      p De momento todas crianças e idosos já tem um outro Secret Santa associado!
      p Mas não desanimes! Caso surjam mais cartas poderemos te atribuir uma, portanto fica atento ao teu mail!
      p Vemo-nos em breve 🎅
