.Section
  .Section-content
    .Section-title
      h1.Heading Secret Santa Confirmado!

    .Section-text
      p #{@user.name}, acabaste de te tornar num Secret Santa!
      p Daqui a 2 semanas vamos atribuir cartas de crianças para nos ajudares nesta causa.
      p Não te esqueças de verificar o teu email para ver a carta da criança que te será atribúida.
      p Vemo-nos em breve 🎅
