.Section
  .Section-content
    .Section-title
      h1.Heading Novos registos fechados!

    .Section-text style="padding-bottom: 32px; border-bottom: 2px solid;"
      p Lamentamos imenso esta situação!
      p Infelizmente já temos registos suficientes para as crianças e idosos que reunimos de momento.
      p Mesmo assim, não desanimes! Ainda há a possibilidade de te registares outra vez ainda este Natal, fica atento!
      p Fica atento às redes sociais e vemo-nos em breve 🎅

