h1 Thank you for signing up!

p Your contribution means the world to us ❤️

p We need you to confirm your email by clicking #{link_to "this link", @confirmation_url}.

p You can also copy and paste this into your address bar: #{@confirmation_url}
