@import '../../styles/breakpoints.css';
@import '../../styles/layout.css';
@import "./letter.css";

.root {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: $spacing-56;
  margin-top: $spacing-28;

  border-bottom: 2px solid black;
}

.text > *:not(:last-child) {
  margin-bottom: $spacing-28;
}

.letter {
  margin-top: $spacing-56;

  @include default-styles;
}
