h1 #include &lt;braga&gt; &lt;3 #{@user.name}

p Thank you for signing up!

p Your contribution means the world to us &lt;3

p Please confirm your email by clicking the link we just sent to #{@user.email}
