h1 #include &lt;braga&gt; ❤️ #{@user.name}

p Thank you for signing up!

p Your contribution means the world to us ❤️

p Please confirm your email by clicking the link we just sent to #{@user.email}

p DEBUG: #{link_to confirmation_path(@user.confirmation_token), confirmation_path(@user.confirmation_token)}
