@import '../../styles/variables.css';
@import '../../styles/typography.css';
@import '../../styles/layout.css';
@import '../../styles/breakpoints.css';
@import '../../styles/colors.css';

.root {
  display: flex;
  flex-direction: column;
}

.root > * {
  @include Breakpoint-tabletAndAbove {
    width: $five-columns;
  }

  @include Breakpoint-mobileOnly {
    margin: 0 auto;

    text-align: center;
  }
}

.root > *:not(:last-child) {
  margin-bottom: $spacing-56;
}

.copy > *:not(:last-child) {
  padding-bottom: $spacing-28;
}

.title {

}

.left {

}

.right {

  margin-left: auto;
}
