meta name="description" content = "Um Pai Natal Secreto com intituito de ajudar crianças de instituições de Braga. Inscreve-te para seres um Secret Santa!"

meta name="twitter:card" content="summary_large_image"
meta name="twitter:site" content="@includebraga"
meta name="twitter:title" content="Secret Santa | Include Braga"
meta name="twitter:description" content="Um Pai Natal Secreto com intituito de ajudar crianças de instituições de Braga. Inscreve-te para seres um Secret Santa!"
meta name="twitter:creator" content="@includebraga"

meta property="og:type" content="website"
meta property="og:title" content="Secret Santa | Include Braga"
meta property="og:url" content="http://natal.includebraga.org"
meta property="og:description" content="Um Pai Natal Secreto com intituito de ajudar crianças de instituições de Braga. Inscreve-te para seres um Secret Santa!"
meta property="og:site_name" content="Secret Santa | Include Braga"

meta itemProp="name" content="Secret Santa | Include Braga"
meta itemProp="description" content="Um Pai Natal Secreto com intituito de ajudar crianças de instituições de Braga. Inscreve-te para seres um Secret Santa!"
