@import '../../styles/breakpoints.css';
@import '../../styles/layout.css';

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner {
  @include Breakpoint-desktopOnly {
    max-width: $content-width;

    margin: $spacing-112 auto $spacing-112 auto;
  }

  @include Breakpoint-tabletAndBelow {
    max-width: calc($content-width / 2);

    margin: $spacing-84 $gutter $spacing-84 $gutter;
  }
}
