@import '../../styles/layout.css';
@import '../../styles/breakpoints.css';

$circle-size: 50px;
$line-size: 1px;

@mixin white-line {
  width: calc($five-columns - $circle-size);
  height: $line-size;

  background-color: #fafafa;

  border: solid calc($line-size / 2) #fafafa;

  @include Breakpoint-tabletOnly {
    width: calc($four-columns - $circle-size);
  }

  @include Breakpoint-mobileOnly {
    width: 50%;
  }
}

.root {
  display: flex;
  flex-direction: row;
}

.absolute-line {
  @include white-line;

  position: absolute;
  left: 0;

  width: 50%;
}

.circle {
  width: $circle-size;
  height: $circle-size;

  margin-top: calc(($circle-size / -2) + 1px);
  margin-left: calc($five-columns - $circle-size);

  background-color: white;
  border-radius: 50%;

  @include Breakpoint-tabletOnly {
    margin-left: calc($four-columns - $circle-size);
  }

  @include Breakpoint-mobileOnly {
    margin-left: calc(50% - $circle-size);
  }
}
