ul,
ol {
  padding: 0;

  margin: 0;

  list-style-type: none;
}

dl {
  margin-bottom: $small-spacing;

  dt {

    margin-top: $small-spacing;

    font-weight: $bold-font-weight;
  }

  dd {
    margin: 0;
  }
}
