.faq {
  background-color: #fff !important;
}

.faq b {
  color: $color-red;
}

.faq p {
  color: $color-deep-blue;
}

.faq h2 {
  font-family: $font-family-serif;
  color: $color-deep-blue !important;
}

