.Footer {
  display: flex;
  justify-content: center;

  padding: $size-xxlarge $size-large;

  background-color: $color-deep-blue;

  @media(min-width: $max-tablet-size) {
    padding: $size-xxlarge;
  }
}

.Footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: $grid-size;
}

.Footer-socialList {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-bottom: $size-large;
}

.Footer-socialItem:not(:last-child) {
  margin-right: $size-base;
}

.Footer-socialLink {
  color: $color-red;

  &:hover {
    color: darken($color-red, 20%);
    text-decoration: none;
  }

  &:active, &:focus {
    color: $color-red;
    text-decoration: none;
  }
}

.Footer-tagline {
  font-family: $font-family-serif;
  font-size: $size-small;
  line-height: $size-base;

  color: $color-white;
}
