.absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.absolute-center.responsive {
  width: 50%; 
  height: 50%;
  min-width: 200px;
  max-width: 400px;
  padding: 40px;
}



input {
  border: none;
  /*border-radius:300px;*/
  font: inherit;
  margin: 0;
  padding: 0;
}

input[type="email"], input[type="text"] {
  background: #eee;
  color: #777;
  padding: 4px 10px;
  width: 100%;
  /*border-radius:300px;*/
}

input[type="submit"] {
  border-radius:4px;
  background: #33cc77;
  color: #fff;
  display: block;
  margin-top: 20px;
  padding: 5px 15px;
  width:100%;
  
}

input[type="submit"]:hover {
  background: #28ad63;
  cursor:pointer;
}

.form-title{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  line-height:2.5;
  margin-bottom:40px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #9c9a9a;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #9c9a9a;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #9c9a9a;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #9c9a9a;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #9c9a9a;
}

input.form-control,input.form-control:focus {
    border:none;
    box-shadow: none;

   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   -moz-transition: none;
   -webkit-transition: none;
}


.ErrorField {
   color:red;
   opacity:0.8;
   font-size:12px;
   @extend .has-error;
}
