.absolute-center {

  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;

  margin: auto;
}

.absolute-center.responsive {
  width: 50%;
  height: 50%;
  max-width: 400px;
  min-width: 200px;
  padding: 40px;
}



input {
  padding: 0;

  margin: 0;

  border: none;
  /*border-radius:300px;*/
  font: inherit;
}

input[type="email"], input[type="text"] {
  width: 100%;

  padding: 4px 10px;

  background: #eee;
  color: #777;
  /*border-radius:300px;*/
}

input[type="submit"] {

  display: block;
  width:100%;
  padding: 5px 15px;
  margin-top: 20px;

  border-radius:4px;
  color: #fff;

}

input[type="submit"]:hover {
  background: #28ad63;
  cursor:pointer;
}

.form-title {

  margin-bottom:40px;

  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  line-height:2.5;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    #9c9a9a;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #9c9a9a;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #9c9a9a;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:    #9c9a9a;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color:    #9c9a9a;
}

input.form-control,input.form-control:focus {
  border:none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  -moz-transition: none;
  -webkit-transition: none;
}


.ErrorField {
  color:red;
  opacity:0.8;

  font-size:12px;
  @extend .has-error;
}
