.Heading {
  color: $color-deep-blue;
  font-family: $font-family-serif;
  font-size: $size-large;
  line-height: $size-xxlarge;

  @media(min-width: $max-tablet-size) {
    font-size: $size-xlarge;
  }
}

.Heading.Heading--white {
  color: $color-white;
}

.Heading.Heading--secondary {
  font-size: $size-base;
  line-height: $size-large;
}
