.Heading {
  margin: 0 !important; // TODO: Remove this when we remove bootstrap

  color: $color-deep-blue;
  font-family: $font-family-serif;
  font-size: $size-large;
  line-height: $size-xlarge;

  @media(min-width: $max-tablet-size) {
    font-size: $size-xlarge;
    line-height: $size-xxlarge;
  }
}

.Heading.Heading--white {
  color: $color-white;
}

.Heading.Heading--red {
  color: $color-red;
}

.Heading.Heading--secondary {
  font-size: $size-base;
  line-height: $size-large;
}

.Heading.Heading--centered {
  text-align: center;
}
