$Header-breakpoint: 960px;

.Header {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: $size-xxlarge $size-large;

  background-color: $color-deep-blue;

  @media(min-width: $Header-breakpoint) {
    height: 100vh;
    min-height: 75vh;

    padding: $size-xxlarge;
  }
}

.Header-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: $grid-size;
}

.Header-firstRow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  margin-bottom: $size-large;

  @media(min-width: $Header-breakpoint) {
    flex-direction: row;
  }
}

.Header-secondRow {
  align-self: center;

  @media(min-width: $Header-breakpoint) {
    align-self: flex-end;
  }
}

.Header-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: $size-xlarge;

  text-align: center;

  max-width: 500px;

  @media(min-width: $Header-breakpoint) {
    align-items: flex-start;

    margin-bottom: 0;

    text-align: left;
  }
}

.Header-text {
  color: $color-white;
}

.Header-title,
.Header-text,
.Header-cta {
  margin-bottom: $size-large;
}

.Header-logo {
  display: flex;
  align-items: center;
}

.Header-logoLettering {
  display: none;

  @media(min-width: $Header-breakpoint) {
    display: initial;

    margin-right: $size-xsmall;
  }
}
