.Questions {
  display: flex;
  justify-content: center;

  padding: $size-xxlarge $size-large;

  @media (min-width: $max-tablet-size) {
    padding: $size-xxlarge;
  }
}

.Questions-content {

  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: $grid-size;
}

.Questions-heading {
  margin-bottom: $size-xlarge;
}

.Questions-entry {
  margin-bottom: $size-large;
}

.Questions-title {

  color: $color-red;

  font-weight: $font-weight-bold;
}
