@import '../../styles/typography.css';
@import '../../styles/breakpoints.css';
@import '../../styles/layout.css';

.root {
  position: relative;

  color: white;
}

.sans-serif {
  font-family: $font-family-sans-serif;
}

.mono {
  font-family: $font-family-mono;
}

.regular {
  font-weight: $font-weight-regular;
}

.bold {
  font-weight: $font-weight-bold;
}

.italic {
  font-style: italic;
}

.level1 {
  font-size: $font-size-xxxLarge;
  line-height: $line-height-xxxLarge;

  @include Breakpoint-tabletOnly {
    font-size: $font-size-xxLarge;
    line-height: $line-height-xxLarge;
  }

  @include Breakpoint-mobileOnly {
    font-size: $font-size-xLarge;
    line-height: $line-height-xLarge;
  }
}

.level2 {
  font-size: $font-size-xxLarge;
  line-height: $line-height-xxLarge;

  @include Breakpoint-tabletOnly {
    font-size: $font-size-xLarge;
    line-height: $line-height-xLarge;
  }

  @include Breakpoint-mobileOnly {
    font-size: $font-size-large;
    line-height: $line-height-large;
  }
}

.level3 {
  font-size: $font-size-xLarge;
  line-height: $line-height-xLarge;

  @include Breakpoint-tabletOnly {
    font-size: $font-size-large;
    line-height: $line-height-large;
  }

  @include Breakpoint-mobileOnly {
    font-size: $font-size-medium;
    line-height: $line-height-medium;
  }
}

.white {
  color: white;
}

.black {
  color: black;
}

.underline::after {
  content: '';

  position: absolute;

  bottom: -8px;
  left: 0;

  width: 100%;
  height: 16px;

  background-image: url('../../assets/underline.svg');
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: auto 16px;

  @include Breakpoint-tabletOnly {
    height: 11px;

    background-size: auto 11px;
  }

  @include Breakpoint-mobileOnly {
    height: 8px;

    background-position: bottom right;
    background-size: auto 8px;
  }
}
