@import '../../styles/typography.css';
@import '../../styles/breakpoints.css';
@import '../../styles/layout.css';
@import '../../styles/colors.css';

.root {
  position: relative;

  display: inline;

  color: white;
}

.sans-serif {
  font-family: $font-family-sans-serif;
}

.mono {
  font-family: $font-family-mono;
}

.regular {
  font-weight: $font-weight-regular;
}

.bold {
  font-weight: $font-weight-bold;
}

.italic {
  font-style: italic;
}

.level1 {
  font-size: $font-size-large;
  line-height: $line-height-large;
}

.level2 {
  font-size: $font-size-medium;
  line-height: $line-height-medium;
}

.level3 {
  font-size: $font-size-small;
  line-height: $line-height-small;
}

.white {
  color: white;
}

.black {
  color: $black;
}

.red {
  color: $red;
}

.yellow {
  color: $yellow;
}
.underline {
  padding-bottom: calc($spacing-12 + 4px);

  border-bottom: solid $yellow 4px;
}
