@import "../../styles/typography.css";
@import "../../styles/breakpoints.css";

.root {
  color: white;
}

.sans-serif {
  font-family: $font-family-sans-serif;
}

.mono {
  font-family: $font-family-mono;
}

.regular {
  font-weight: $font-weight-regular;
}

.bold {
  font-weight: $font-weight-bold;
}

.italic {
  font-style: italic;
}

.level1 {
  font-size: $font-size-xxxLarge;
  line-height: $line-height-xxxLarge;

  @include Breakpoint-tabletOnly {
    font-size: $font-size-xxLarge;
    line-height: $line-height-xxLarge;
  }

  @include Breakpoint-mobileOnly {
    font-size: $font-size-xLarge;
    line-height: $line-height-xLarge;
  }
}

.level2 {
  font-size: $font-size-xxLarge;
  line-height: $line-height-xxLarge;

  @include Breakpoint-tabletOnly {
    font-size: $font-size-xLarge;
    line-height: $line-height-xLarge;
  }

  @include Breakpoint-mobileOnly {
    font-size: $font-size-large;
    line-height: $line-height-large;
  }
}

.level3 {
  font-size: $font-size-xLarge;
  line-height: $line-height-xLarge;

  @include Breakpoint-tabletOnly {
    font-size: $font-size-large;
    line-height: $line-height-large;
  }

  @include Breakpoint-mobileOnly {
    font-size: $font-size-medium;
    line-height: $line-height-medium;
  }
}

.white {
  color: white;
}

.black {
  color: black;
}
