.cell-label {
  position: relative;

  &:hover {
    a {
      color: $action-color;
    }

    svg {
      fill: $action-color;

      transform: rotate(180deg);
    }
  }

  a {

    display: inline-block;

    width: 100%;

    color: inherit;

    transition: color $base-duration $base-timing;
  }
}

.cell-label--asc,
.cell-label--desc {
  font-weight: $bold-font-weight;
}

.cell-label__sort-indicator {

  position: absolute;
  right: 0;

  display: inline-block;
  overflow: hidden;

  svg {
    width: 13px;
    height: 13px;

    fill: $hint-grey;

    transition: transform $base-duration $base-timing;
  }
}

.cell-label__sort-indicator--desc {
  transform: rotate(180deg);
}

.cell-data--number,
.cell-label--number {
  text-align: right;
}
