.field-unit {
  @include administrate-clearfix;

  position: relative;

  display: flex;
  align-items: center;

  width: 100%;
  margin-bottom: $base-spacing;
}

.field-unit__label {
  float: left;

  width: calc(15% - 1rem);
  margin-left: 1rem;

  text-align: right;
}

.field-unit__field {
  float: left;
  width: 45%;
  margin-left: 2rem;
}

.field-unit--nested {
  width: 50%;
  padding: $small-spacing;

  margin-left: 7.5%;

  border: $base-border;

  .field-unit__field {
    width: calc(75% - 1rem);
  }

  .field-unit__label {
    width: calc(25% - 1rem);
  }
}
