.main-content {

  flex: 1 1 100%;
  padding-bottom: 10vh;

  background-color: $white;
  border-radius: $base-border-radius;
  box-shadow: 0 0 6px 0 rgba($black, 0.12),
    0 2px 2px rgba($black, 0.2);
}

.main-content__header,
.main-content__body {
  padding: 1rem 2rem;
}

.main-content__body--flush {
  padding-right: 0;
  padding-left: 0;
}

.main-content__header {

  display: flex;
  align-items: center;

  border-bottom: $base-border;
}

.main-content__page-title {

  margin-right: auto;

  font-size: 1.6em;
}
