$_search-icon-size: 1rem;

.search {

  position: relative;

  width: 100%;
  max-width: 20rem;
  margin-right: 2rem;
  margin-left: auto;
}

.search__input {
  padding-right: $_search-icon-size * 2.5;

  padding-left: $_search-icon-size * 2.5;

  border-radius: 100rem;
}

.search__eyeglass-icon {
  position: absolute;
  top: 50%;

  left: $_search-icon-size;

  width: $_search-icon-size;

  height: $_search-icon-size;

  fill: $grey-7;

  transform: translateY(-50%);
}

.search__clear-link {

  position: absolute;
  top: 50%;
  right: $_search-icon-size * 0.75;

  width: $_search-icon-size;
  height: $_search-icon-size;

  transform: translateY(-50%);
}

.search__clear-icon {

  position: absolute;

  width: $_search-icon-size;

  height: $_search-icon-size;

  fill: $grey-5;

  transition: fill $base-duration $base-timing;

  &:hover {
    fill: $action-color;
  }
}
