#MarkdownPreview {

  padding: 8px;

  border: 1px solid #dfe0e1;
  border-radius: 4px;
}

.MarkdownLetter i,
.MarkdownLetter em {
  color: #f95252;
}

.MarkdownLetter b,
.MarkdownLetter strong {
  color: #2d3e50;
}
