@import "../../styles/variables.css";

.root {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: $size-xxlarge $size-large;

  background-color: $color-deep-blue;

  @media (min-width: $Header-breakpoint) {
    height: 75vh;

    padding: $size-xxlarge;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  max-width: $grid-size;

  @media (min-width: $Header-breakpoint) {
    flex-direction: row;
  }
}

.first-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $Header-breakpoint) {
    flex-direction: row;
  }
}

.second-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $Header-breakpoint) {
    align-items: flex-start;
  }
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: $size-xlarge;

  text-align: center;

  max-width: $Header-info-max-width;

  @media (min-width: $Header-breakpoint) {
    align-items: flex-start;

    margin-bottom: 0;

    text-align: left;
  }
}

.text {
  color: $color-white;
}

.title,
.text {
  margin-bottom: $size-large;
  color: $color-white;
}

.img {
  margin-bottom: $size-large;

  @media (min-width: $Header-breakpoint) {
    margin-bottom: 0;
  }
}
