@import '../../styles/variables.css';
@import '../../styles/typography.css';
@import '../../styles/layout.css';
@import '../../styles/breakpoints.css';
@import '../../styles/colors.css';

.root {
  display: flex;
  flex-direction: column;

  background-color: $red;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 0 auto;

  @include Breakpoint-desktopOnly {
    width: $inner-content-width;
  }

  @include Breakpoint-tabletOnly {
    width: $inner-content-width-tablet;
  }

  @include Breakpoint-mobileOnly {
    margin: 0 $gutter 0 $gutter;
  }
}

.title-container {
  display: flex;
  justify-content: center;
}

.title {
  display: inline-flex;
  flex-direction: row;

  @include Breakpoint-mobileOnly {
    flex-direction: column;
    max-width: calc($min-content-width - $gutter);
    margin: 0 auto;

    text-align: center;
  }
}

.secret-santa {
  padding: $spacing-16 $spacing-28 $spacing-16 $spacing-28;

  @include Breakpoint-tabletAndAbove {
    margin-right: $spacing-28;
  }
}

.the-impossible {
  padding: $spacing-16 $spacing-28 $spacing-16 $spacing-28;

  background-color: $yellow;

  @include Breakpoint-mobileOnly {
    margin-top: $spacing-28;
  }
}

.description {
  display: inline-flex;
  flex-direction: row;

  margin-top: $spacing-224;

  @include Breakpoint-tabletOnly {
    margin-top: $spacing-224;
  }

  @include Breakpoint-mobileOnly {
    flex-direction: column;

    margin-top: $spacing-112;
  }
}

.include {
  height: $line-height-medium;

  padding: $spacing-12 $spacing-20 $spacing-12 $spacing-20;

  border: 2px solid white;

  @include Breakpoint-mobileOnly {
    margin: 0 auto;
  }
}

.a-year-ago {
  display: flex;
  flex-direction: column;
  max-width: $four-columns;

  margin-top: $spacing-12;
  margin-left: $spacing-28;

  @include Breakpoint-mobileOnly {
    padding: 0 $spacing-28 0 $spacing-28;

    margin: $spacing-56 auto $spacing-56 auto;

    text-align: center;
  }
}

.a-year-ago > *:not(:last-child) {
  padding-bottom: $spacing-28;
}

.join-us {
  @include Breakpoint-tabletAndAbove {
    margin-left: auto;
  }

  @include Breakpoint-mobileOnly {
    margin: 0 auto;
  }
}
