@import '../../styles/variables.css';
@import '../../styles/typography.css';
@import '../../styles/layout.css';
@import '../../styles/breakpoints.css';
@import '../../styles/colors.css';

.root {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: left;

  background-color: $red;

  font-family: $font-family-sans-serif;
}

.content {
  @include Breakpoint-tabletAndAbove {
    width: 100%;
    max-width: $content-width;

    margin: 0 auto;
  }
}

.title-container {
  display: flex;
  justify-content: center;
}

.title {
  display: inline-flex;
  flex-direction: row;

  margin-top: $spacing-224;

  @include Breakpoint-mobileOnly {
    flex-direction: column;
    max-width: calc($min-content-width - $gutter);
    margin: $spacing-56 auto;

    text-align: center;
  }
}

.secret-santa {
  padding: $spacing-16 $spacing-28 $spacing-16 $spacing-28;

  @include Breakpoint-tabletAndAbove {
    margin-right: $spacing-28;
  }
}

.the-impossible {
  padding: $spacing-16 $spacing-28 $spacing-16 $spacing-28;

  background-color: $yellow;

  @include Breakpoint-mobileOnly {
    margin-top: $spacing-28;
  }
}

.description {
  display: flex;
  flex-direction: row;

  margin: $spacing-224 $column-spacing $spacing-164 $column-spacing;

  @include Breakpoint-tabletOnly {
    margin: $spacing-224 calc(3 * $gutter) $spacing-164 calc(3 * $gutter);
  }

  @include Breakpoint-mobileOnly {
    flex-direction: column;

    margin: $spacing-112 auto $spacing-112 auto;
  }
}

.include {
  display: inline-block;

  height: $line-height-medium;

  padding: $spacing-12 $spacing-20 $spacing-12 $spacing-20;

  border: 2px solid white;

  @include Breakpoint-mobileOnly {
    margin: 0 auto;
  }
}

.a-year-ago {
  display: flex;
  flex-direction: column;
  max-width: $four-columns;

  margin-top: $spacing-12;
  margin-left: $spacing-28;

  @include Breakpoint-mobileOnly {
    flex-direction: column;

    margin: $spacing-56 auto $spacing-56 auto;

    text-align: center;
  }
}

.a-year-ago > *:not(:last-child) {
  padding-bottom: $spacing-28;
}

.join-us {
  height: $line-height-medium;

  padding: $spacing-12 $spacing-20 $spacing-12 $spacing-20;
  margin-left: auto;

  background-color: $yellow;

  @include Breakpoint-mobileOnly {
    margin: 0 auto;
  }
}
