@import "../../styles/variables.css";

.root {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: $size-xxlarge $size-large;


  background-color: $color-white;
  color: $color-deep-blue;

  @media(min-width: $max-tablet-size) {
    padding: calc(2 * $size-xxlarge) $size-xxlarge;
  }
}

.title {
  margin-bottom: $size-xxlarge;
}

.list {
  display: flex;
  flex-direction: column;

  @media(min-width: $max-tablet-size) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.list-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: $size-xlarge;

  @media(min-width: $max-tablet-size) {
    margin-bottom: 0;

    &:not(:last-child) {
      margin-right: $size-xlarge;
    }
  }
}

.icon {
  font-size: $size-xxlarge;

  i[class^='icon-'] {
    color: $color-red;
  }
}

.text {
  font-size: $size-small;
  line-height: $size-base;
  text-align: center;

  max-width: 300px;
}
